 body {
    background-image: "E:\Data Science\Flight Fare Prediction\flight_image.jpg"; 
    text-align: center;
}

.navbar {
    background-color: #333333;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
  }